body {
    font-family: Verdana, sans-serif;
   background-color: gainsboro;
    color:purple;
}

img {
    opacity: 0.2;

}
.container-fluid {
    margin-top: 25px;
}

.toolbar {
    list-style: none;
    padding-left: 0;
}

    .toolbar li {
        display: inline-block;
        margin-right: 10px;
    }

.actions {
    margin-top: 25px;
}

li a {
    display: block;
    color: white;
    align-content: center;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    height: 100%;
}
    li a:hover {
        background-color: #ae8b8b ;
        text-decoration: none;
        color: RGB(70,100,170);
    }

button {
    margin-right: 15px;
}

.actions button, .actions a {
    margin-right: 15px;
}

.recherche{
    float:right;
}
/* Loader */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}

.Participant {
    border: solid 1px lightgray;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: cornflowerblue;
}

    .Participant input[type=checkbox] {
        margin-right: 8px;
    }

    .Participant button {
        float: right;
        display: none;
    }

    .Participant:hover {
        border: solid 1px gray;
        border-left: none;
        border-right: none;
    }

    .Participant:not(.alert-success):hover {
        background-color: whitesmoke;
    }

    .Participant:hover button {
        display: block;
    }

.Reservation {
    border: solid 1px lightgray;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: cornflowerblue;
}
    .Reservation input[type=checkbox] {
        margin-right: 8px;
    }
    .Reservation button {
        float: right;
        display: none;
    }
    .Reservation:hover {
        border: solid 1px gray;
        border-left: none;
        border-right: none;
    }
    .Reservation:not(.alert-success):hover {
        background-color: whitesmoke;
    }
    .Reservation:hover button {
        display: block;
    }


.Destination {
    border: solid 1px lightgray;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: cornflowerblue;
}

    .Destination input[type=checkbox] {
        margin-right: 8px;
    }

    .Destination button {
        float: right;
        display: none;
    }

    .Destination:hover {
        border: solid 1px gray;
        border-left: none;
        border-right: none;
    }

    .Destination:not(.alert-success):hover {
        background-color: whitesmoke;
    }

    .Destination:hover button {
        display: block;
    }


.Voyage {
    border: solid 1px lightgray;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: cornflowerblue;
}

    .Voyage input[type=checkbox] {
        margin-right: 8px;
    }

    .Voyage button {
        float: right;
        display: none;
    }

    .Voyage:hover {
        border: solid 1px gray;
        border-left: none;
        border-right: none;
    }

    .Voyage:not(.alert-success):hover {
        background-color: whitesmoke;
    }

    .Voyage:hover button {
        display: block;
    }

.Client {
    border: solid 1px lightgray;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: cornflowerblue;
}
    .Client input[type=checkbox] {
        margin-right: 8px;
    }

    .Client button {
        float: right;
        display: none;
    }

    .Client:hover {
        border: solid 1px gray;
        border-left: none;
        border-right: none;
    }

    .Client:not(.alert-success):hover {
        background-color: whitesmoke;
    }

    .Client:hover button {
        display: block;
    }


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader (fin) */
