body {
    font-family: Verdana, sans-serif;
    background-color: RGB(230,230,230);
  
}

.container-fluid {
    margin-top: 25px;
}

.toolbar {
    list-style: none;
    padding-left: 0;
}

    .toolbar li {
        display: inline-block;
        margin-right: 10px;
    }

.actions {
    margin-top: 25px;
}
li a {
    display: block;
    color: white;
    align-content: center;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    height: 100%;
}
    li a:hover {
        background-color: #555;
        text-decoration: none;
        color: RGB(70,100,170);
    }

button {
    margin-right: 15px;
}

.actions button, .actions a {
    margin-right: 15px;
}

/* Loader */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}

.Client {
    border: solid 1px lightgray;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: cornflowerblue;

}

div {
    border: solid 1px red;
}
    .Client input[type=checkbox] {
        margin-right: 8px;
    }

    .Client button {
        float: right;
        display: none;
    }

    .Client:hover {
        border: solid 1px gray;
        border-left: none;
        border-right: none;
    }

    .Client:not(.alert-success):hover {
        background-color: whitesmoke;
    }

    .Client:hover button {
        display: block;
    }


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader (fin) */
