<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f43e3708-c79a-419d-be6f-a6245f4e1726/resourceGroups/DEVELOPPEURS/providers/Microsoft.Web/sites/GTMChi</ResourceId>
    <ResourceGroup>DEVELOPPEURS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gtmchi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gtmchi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GTMChi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GTMChi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BoVoyagesContext" Order="1" Enabled="True">
          <Destination Path="Data Source=Poecgtm.database.windows.net,1433;Initial Catalog=Chi;Persist Security Info=True;User ID=Chi;Password=Poec2018Paris" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BoVoyagesAPI.Data.BoVoyagesContext, BoVoyagesAPI" MigrationConfiguration="BoVoyagesAPI.Migrations.Configuration, BoVoyagesAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BoVoyagesContext-Web.config Connection String">
      <ParameterValue>Data Source=Poecgtm.database.windows.net,1433;Initial Catalog=Chi;Persist Security Info=True;User ID=Chi;Password=Poec2018Paris</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>